<!DOCTYPE html>
<html
    xmlns:th="https://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base}">

<head>
    <title>Profile</title>
</head>

<body>

<header layout:fragment="header">
    <h1>Street Food GO <small>/ Profile</small></h1>
</header>

<section layout:fragment="main">

    <div>
        <ul>
            <li>Email <span th:text="${me.emailAddress()}"></span></li>
            <li>Type <span  th:text="${me.type()}"></span></li>
        </ul>

        <hr>

        <ul>
            <li>
                <a th:href="@{/profile}">Profile</a>
            </li>
            <li>
                <a th:href="@{/orders}">My Orders</a>
            </li>
            <li>
                <a th:href="@{/logout}">Logout</a>
            </li>

        </ul>
        <div th:if="${profile?.mapUrl() != null}">
            <h3>My Location</h3>
            <img th:src="${profile.mapUrl()}" alt="User Location"/>
        </div>
    </div>

</section>

</body>
</html>
